curso_em_video/.idea
curso_em_video/.idea/vcs.xml
curso_em_video/.idea/modules.xml
curso_em_video/.idea/misc.xml
curso_em_video/.idea/inspectionProfiles/profiles_settings.xml
curso_em_video/.idea/curso_em_video.iml
